// Generate Hook
// Copyright (c) 2014-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2014-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/GenerateHook/Application.rh>
#include <XYO/GenerateHook/Copyright.rh>
#include <XYO/GenerateHook/Version.rh>

1  ICON "Application.ico"

XYO_PLATFORM_VERSION_INFO(XYO_GENERATEHOOK,"xyo-generate-hook.exe","Hook generator")
XYO_PLATFORM_MANIFEST("Application.manifest")
