// Generate Hook
// Copyright (c) 2022 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2022 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/GenerateHook/Application.rh>
#include <XYO/GenerateHook/Copyright.rh>
#include <XYO/GenerateHook/Version.rh>

1  ICON "Application.ico"

XYO_APPLICATION_VERSION_INFO(XYO_GENERATEHOOK,"xyo-generate-hook.exe","Hook generator")
XYO_APPLICATION_MANIFEST("Application.manifest")
